{:black          {:hex  "#1C1B19"
                  :rgb  [28,  27,  25]
                  :code 0}
 :red            {:hex  "#EF2F27"
                  :rgb  [239, 47, 39]
                  :code 1}
 :green          {:hex  "#519F50"
                  :rgb  [81,  159, 80]
                  :code 2}
 :yellow         {:hex  "#FBB829"
                  :rgb  [251, 184, 41]
                  :code 3}
 :blue           {:hex  "#2C78BF"
                  :rgb  [44, 120, 191]
                  :code 4}
 :magenta        {:hex  "#E02C6D"
                  :rgb  [224, 44,  109]
                  :code 5}
 :cyan           {:hex  "#0AAEB3"
                  :rgb  [10, 174, 179]
                  :code 6}
 :white          {:hex      "#918175"
                  :rgb      [145, 129, 117]
                  :code     7 }
 :bright-black   {:hex  "#2D2C29"
                  :rgb  [45,  44,  41]
                  :code 8}
 :bright-red     {:hex  "#F75341"
                  :rgb  [247, 83, 65]
                  :code 9}
 :bright-green   {:hex  "#98BC37"
                  :rgb  [152, 188, 55]
                  :code 10}
 :bright-yellow  {:hex  "#FED06E"
                  :rgb  [254, 208, 110]
                  :code 11}
 :bright-blue    {:hex  "#68A8E4"
                  :rgb  [104, 168, 228]
                  :code 12}
 :bright-magenta {:hex  "#FF5C8F"
                  :rgb [255, 92, 143]
                  :code 13}
 :bright-cyan    {:hex  "#53FDE9"
                  :rgb  [83, 253, 233]
                  :code 14}
 :bright-white   {:hex      "#FCE8C3"
                  :rgb      [252, 232, 195]
                  :code     15}}
